:root {
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
}

body {
  font-family: Outfit, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--main-bg-color);
  padding: 1.5rem;
  color: var(--primary-soft-blue);
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nft {
  padding: 1.5rem;
  background-color: var(--card-bg-color);
  border-radius: 10px;
}

.image-equilibrium {
  width: 100%;
  border-radius: 10px;
}

.title {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 400;
}

.description {
  font-weight: 300;
}

.infos {
  display: flex;
  justify-content: space-between;
  .price {
    display: flex;
    align-items: center;
    color: var(--primary-cyan);
    font-weight: 400;
    .ethereum-logo {
      margin-right: 0.5rem;
    }
  }
  .remaining-time {
    display: flex;
    align-items: center;
    font-weight: 300;
    .clock-icon {
      margin-right: 0.5rem;
    }
  }
}

.separator {
  border: unset;
  border-top: 1px solid var(--line);
}

.creator {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;

  .avatar {
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
  }

  .name {
    color: var(--white);
  }
}

/* default styles */
.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
